@model Categoria

@{
	ViewData["Title"] = "Crear categoria";
}

<h1 class="mb-3">Crear Categoria</h1>
<p class="fs-6 mb-5">La categoria se refiere a la etiqueta con la que quiera vincular un proyecto o una entrada de blog.</p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@* FORMULARIO *@
<form asp-controller="Categorias" asp-action="Crear">
	<input type="hidden" asp-for="user_id" />
	<div class="mb-3">
		<div class="flex-column">
			<input type="text" asp-for="name" class="form-control" placeholder="Ingrese La categoria que desea crear"/>
			<span asp-validation-for="name" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-action mt-3">Crear</button>
		<a asp-action="Index" class="btn btn-delete mt-3">cancelar</a>
	</div>
</form>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}