@using Backend_portafolio.Entities
@model Categoria
@{
	ViewData["Title"] = "Editar";
}

<h1 class="mb-5">Editar @Model.name</h1>

@* ERRORES *@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@* FORMULARIO *@
<form asp-controller="Categorias" asp-action="Editar">
	<input type="hidden" asp-for="id" />
	<input type="hidden" asp-for="user_id" />
	<div class="mb-3">
		<div class="flex-column">
			<input type="text" asp-for="name" class="form-control" />
			<span asp-validation-for="name" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-edit mt-3">Actualizar</button>
		<a asp-action="Index" class="btn btn-delete mt-3">cancelar</a>
	</div>
</form>

@* SCRIPTS DE LA PAGINA *@
@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}