version: "3.9"

# Primero correr SQLSERVER y crear la base de datos de db_scripts
# docker compose --env-file .env.development up sqlserver_db
# Luego podemos frenar servicio y correr todo con el siguiente comando
#docker compose --env-file .env.development up

services:
  sqlserver_db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      SA_PASSWORD: ${SA_PASSWORD}
      ACCEPT_EULA: ${ACCEPT_EULA}
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  backend_portafolio:
    image: backendportafolio
    build:
      context: .
      dockerfile: Backend_portafolio/Dockerfile
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./Backend_portafolio:/app
    env_file:
      - .env
    depends_on:
      - sqlserver_db

volumes:
  sql_data:
    name: backend_portafolio_sql_data
