version: "3.9"

services:
  backend_portafolio:
    image: backendportafolio
    build:
      context: .
      dockerfile: Backend_portafolio/Dockerfile
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./Backend_portafolio:/app
    depends_on:
      - sqlserver_db

  sqlserver_db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      SA_PASSWORD: "MiClaveSegura123#"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data:
    external: true
    name: backend_portafolio_sql_data
