services:
  backend_portafolio:
    image: ${DOCKER_REGISTRY-}backendportafolio
    build:
      context: .
      dockerfile: Backend_portafolio/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - sqlserver_db
      
  sqlserver_db:
    image: mcr.microsoft.com/mssql/server:2019-latest 
    environment:
      SA_PASSWORD: "MiClaveSegura123#" 
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql 
      # - ./db_scripts:/docker-entrypoint-initdb.d/

  # db_init:
  #   image: mcr.microsoft.com/mssql-tools
  #   volumes:
  #     - ./db_scripts:/db_scripts
  #   depends_on:
  #     sqlserver_db:
  #       condition: service_started
  #   command: >
  #     /bin/bash -c "/opt/mssql-tools/bin/sqlcmd -S sqlserver_db -U sa -P 'MiClaveSegura123#' -i /db_scripts/version_1.1.0.sql"
      
volumes:
  sql_data: 