
<div class="d-flex justify-content-center align-items-center flex-column my-5 w-100 h-100 p-5">
	<i class="fa-solid fa-circle-exclamation mb-5 fs-1 "></i>
	<h3 class="fs-4 text-center">Aún no hay  @Model.message registrados. Comience seleccionando "Crear nuevo"</h3>
</div>