 <div class="mb-3">
<a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('h1')"><span class="fs-6">h1</span></a>
<a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('h2')"><span class="fs-6">h2</span></a>
<a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('h3')"><span class="fs-6">h3</span></a>
<a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('bold')"><strong>Bold</strong></a>
<a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('italic')"><span class="fst-italic">Italic</span></a>
<a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('link')"><i class="fa-solid fa-link"></i></a>
<a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('image')"><i class="fa-regular fa-image"></i></a>
</div>