@model UserViewModel

@{
    ViewData["Title"] = "Configuración";
}

<h3>Configuración</h3>
<!-- MODIFICAR CONTRASEÑA -->
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="w-100 p-1 row gap-3">
    <form asp-action="EditarPass" asp-controller="Users" class="mt-2 col-6 p-2">
        <!-- PASS ANTERIOR-->
        <div class="mt-3">
            <label>Contraseña Anterior</label>
            <div class="input-group input-group-sm flex-nowrap">
                <input type="password" id="password" asp-for=password class="form-control input-style w-75" />
                <i class="fa-regular fa-eye input-group-text d-flex align-items-center" id="togglePassword"></i>
            </div>
            <span asp-validation-for="password" class="text-danger" style="cursor: pointer;"></span>
        </div>

        <!-- PASS NUEVA-->
        <div class="align-items-center mt-3">
            <label>Contraseña Nueva</label>
            <div class="input-group input-group-sm flex-nowrap">
                <input type="password" asp-for=passwordNuevo id="newpassword" class="form-control input-style w-75" />
                <i class="fa-regular fa-eye input-group-text d-flex align-items-center" id="toggleNewPassword"></i>
            </div>
        </div>

        <!-- REPETIR PASS NUEVA-->
        <div class="align-items-center mt-3">
            <label>Repetir contraseña</label>
            <div class="input-group input-group-sm flex-nowrap">
                <input type="password" asp-for=repetirPasswordNuevo id="verifypassword" class="form-control input-style w-75" />
                <i class="fa-regular fa-eye input-group-text d-flex align-items-center" id="toggleNewVerifyPassword"></i>
            </div>
        </div>
        <span asp-validation-for="@Model.repetirPasswordNuevo" class="text-danger" style="cursor: pointer;"></span>

        <!-- BOTONES-->
        <div class="justify-content-center gap-2 mt-3">
            <button class="btn btn-edit" onclick="successModal({msg: 'El perfil ha sifo modificado con éxito'})">Editar</button>
            <a class="btn btn-delete" asp-controller="Home" asp-action="Index">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>

    function toogleIconEye(element, type)
    {

         if(type == "password")
        {
            element.classList.add("fa-eye");
            element.classList.remove("fa-eye-slash")
        }
        else
        {
            element.classList.add("fa-eye-slash")
            element.classList.remove("fa-eye")
        }
    }

    document.getElementById('togglePassword').addEventListener('click', function () {
        const passwordInput = document.getElementById('password');
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

        toogleIconEye(this, type)

    });

        document.getElementById('toggleNewPassword').addEventListener('click', function () {
        const passwordInput = document.getElementById('newpassword');
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

        toogleIconEye(this, type)

    });

        document.getElementById('toggleNewVerifyPassword').addEventListener('click', function () {
        const passwordInput = document.getElementById('verifypassword');
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

        toogleIconEye(this, type)

    });
</script>