@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

    <h1 class="text-center">Dashboard</h1>
<div class="login-form">
    <p class="fs-5">Ingrese su cuenta</p>
    <form asp-action="Login" class="w-100">
        <div class="mb-3">
            <input asp-for="Username" class="form-control" placeholder="Usuario"/>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input asp-for="Password" class="form-control" placeholder="Contraseña"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-check d-flex align-content-center align-items-center gap-1">
            <input type="checkbox" class="form-check-input" asp-for="RememberMe" />
            <label class="form-check-label fs-5">Recordar en esta computadora</label>
        </div>
        <button class="btn btn-action d-block w-100 mt-2">Login</button>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
