@model RegisterViewModel

@{
    ViewData["title"] = "Registro de usuarios";
}

<!-- ERRORES -->
<div asp-validation-summary="ModelOnly" class="text-danger"></div>


<h1>Registro</h1>
<form asp-action="Register" class="col-10">
    <!-- NOMBRE -->
    <div class="mb-3">
        <label asp-for="Name" class="form-label required-label label"></label>
        <input asp-for="Name" class="form-control" placeholder="Ingrese el nombre"/>
        <span asp-validation-for="Name" class="validate-error"></span>
    </div>

    <!-- USERNAME -->
    <div class="mb-3">
        <label asp-for="Username" class="form-label required-label label"></label>
        <input asp-for="Username" class="form-control" placeholder="Ingrese el username" />
        <span asp-validation-for="Username" class="validate-error"></span>
    </div>

    <!-- EMAIL -->
    <div class="mb-3">
        <label asp-for="Email" class="form-label required-label label"></label>
        <input asp-for="Email" class="form-control" placeholder="Ingrese el Email"/>
        <span asp-validation-for="Email" class="validate-error"></span>
    </div>

    <!-- ROLS -->
    <div class="mb-3">
        <label class="form-label required-label label">Rol</label>
        <select class="form-select select-style" asp-for="role">
            <option disabled selected>Seleccione rol</option>
            @foreach (var role in Model.roles)
            {
                <option value="@role.id">@role.name</option>
            }
        </select>
        <span asp-validation-for="role" class="validate-error"></span>
    </div>

    <!-- BOTONES -->
    <button class="btn btn-action">Registrar</button>
    <a href="Users/Users" class="btn btn-delete">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}