@model UserHomeLayoutFormModel
@{
    ViewData["Title"] = "HomeLayout";
}

<h1>@ViewData["Title"]</h1>
<div>
   <select>
    @foreach(var opt in Model.SectionOptions)
    {
        <option>@opt.Text</option>
    }
   </select>
</div>