@model IEnumerable<MediaType>
@{
	ViewData["Title"] = "Tipos de Media";
}

<h1>Mediatypes</h1>
<h5>Categorias que se utilizan para organizar las entradas.</h5>

<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>

<table class="table w-100">
	<thead>
		<tr>
			<th>Media types</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var mediatype in Model)
		{
			<tr>
				<td>
					@mediatype.name
				</td>
				<td>
					<a class="btn btn-primary" asp-action="Editar" asp-route-id="@mediatype.id">Editar</a>
					<a class="btn btn-danger" onclick="openModal({id: '@mediatype.id', name: '@mediatype.name'})">Borrar</a>
				</td>
			</tr>
		}
	</tbody>

</table>


<!-- MODAL -->
<partial name="_Modal" model='new { url = "/Mediatype" }' />

