@model PostViewModel

@{
	ViewData["Title"] = "Crear post";
}

<h1>Editar @Model.title</h1>
<h3>En esta sección puede crear cualquier tipo de entrada, por ejemplo proyectos, blog, tutoriales, etc...</h3>

<form asp-action="Editar" method="post" class="container mt-5">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input type="hidden" asp-for="user_id" />

    <div class="mb-3">
        <label asp-for="title" class="form-label"></label>
        <input asp-for="title" class="form-control" />
        <span asp-validation-for="title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="description" class="form-label"></label>
        <textarea asp-for="description" class="form-control"></textarea>
        <span asp-validation-for="description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="cover" class="form-label"></label>
        <input asp-for="cover" class="form-control" />
        <span asp-validation-for="cover" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="format_id" class="form-label"></label>
        <select asp-for="format_id" asp-items="Model.formats" class="form-select"></select>
        <span asp-validation-for="format_id" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="category_id" class="form-label"></label>
        <select asp-for="category_id" asp-items="Model.categories" class="form-select"></select>
        <span asp-validation-for="category_id" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Editar</button>
    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
</form>



@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}