:root {
    --bg-color-primary: #1a202c;
    --bg-color-menu-primary: #181c27;
    --text-color-primary: white;
    --text-color-menu: rgb(160, 174, 192);
    --text-colot-menu-hover: rgb(255, 255, 255);
    --bg-color-icon: rgb(79, 209, 197);
    --color-border-focus: rgb(99, 179, 237);
    --bg-input: rgb(45, 55, 72);
    --bg-menu-focus: rgb(32, 64, 68);
    --color-border-focus: rgb(63, 68, 78);
    --text-color-error: rgb(252, 129, 129);
    --text-color-disabled: rgb(63, 68, 78);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);
    font-family: "Inter", sans-serif;
}


/* MENU */

.menu_width {
    width: 70px;
    transition: all ease-in-out 0.3s;
    color: var(--text-color-menu);
}

.menu-color {
    background-color: var(--bg-color-menu-primary);
    color: var(--text-color-menu) !important;
}

.iconos {
    font-size: 16px;
    color: var(--bg-color-icon);
    border: 1px solid var(--color-border-focus);
    padding: 4px;
    border-radius: 5px;
}


    .iconos:focus {
        color: var(--text-colot-menu-hover);
    }

.item_nav {
    display: none;
    transition: all ease-in-out 0.3s;
}

.collapse {
    transition: all ease-in-out 0.3s;
}

.item_size {
    display: none;
}

.menu-hamb {
    color: var(--text-color-menu) !important;
}

@media (min-width: 768px) {
    .menu-hamb {
        color: var(--text-color-menu) !important;
    }

    .menu_width {
        width: 250px;
        transition: all ease-in-out 0.3s;
    }

    .iconos {
        font-size: 12px;
        border: 1px solid var(--color-border-focus);
        padding: 4px;
        border-radius: 5px;
    }

    .subiconos {
        font-size: 10px;
    }

    .nav-title:hover {
        color: var(--text-colot-menu-hover);
        background-color: var(--bg-menu-focus);
    }

    .nav-title {
        color: var(--text-color-menu) !important;
        font-weight: 500;
        width: 230px;
        font-size: 16px;
    }

    .menu-color-font {
        color: var(--text-color-menu);
    }

    .item_size {
        display: inline-block;
    }

    .item_subNav {
        font-size: 14px;
        text-decoration: none;
        background-color: none;
        color: var(--text-color-menu) !important;
        font-weight: 500;
    }

        .item_subNav:hover {
            color: var(--text-colot-menu-hover) !important;
        }
}

table tbody,
table thead{
    color: var(--text-color-primary);
}

/* FORM */
form input[type="text"] {
    border-color: var(--text-color-menu);
    background-color: var(--bg-color-primary);
    color: var(--text-color-menu);
}

    form input[type="text"]:focus
    {
        background-color: var(--bg-input);
        color: var(--text-colot-menu-hover);
        border-block-color: var(--color-border-focus);
    }

.input-style,
.select-style,
.textarea-style {
    background-color: var(--bg-color-primary);
    color: var(--text-color-menu);
}
    .input-style:focus,
    .select-style:focus,
    .textarea-style:focus {
        background-color: var(--bg-input);
        color: var(--text-colot-menu-hover);
    }

.input-style-disabled {
    color: var(--text-color-disabled);
    background-color: var(--bg-color-primary) !important;
}

form label {
    font-size: 20px;
    font-weight: 500;
}

.form-error {
    display: none;
    color: var(--text-color-error);
    font-style: italic;
    margin-top: 10px;
}
    .form-error::before {
        content: "*";
        color: var(--text-color-error);
        margin-top: 10px;
        margin-right: 5px;
    }

.field-validation-error {
    display: block;
}


/* MODALES */
.closeModal {
    display: none;
}

.modalBorrar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    max-width: 90%;
}

.modal-content {
    color: #000;
}

.btn {
    cursor: pointer;
}

.bgModal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(200, 200, 200, 0.5);
    top: 0;
    left: 0;
}