:root {
    --bg-color-primary: #1a202c;
    --bg-color-menu-primary: #181c27;
    --text-color-primary: white;
    --text-color-menu: rgb(172, 175, 179);
    --text-colot-menu-hover: rgb(255, 255, 255);
    --bg-color-icon: rgb(79, 209, 197);
    --color-border-focus: rgb(99, 179, 237);
    --bg-input: rgb(45, 55, 72);
    --bg-menu-focus: rgb(32, 64, 68);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);
    font-family: "Inter", sans-serif;
}


/* MENU */

.menu_width{
    width: 70px;
    transition: all ease-in-out 0.3s;
}

.menu-color {
    background-color: var(--bg-color-menu-primary);
}

    .menu-color-font ul li a {
        color: var(--text-color-menu);
    }
    .menu-color-font ul li a:hover{
        color: var(--text-colot-menu-hover);
    }
    .menu-color-font li a:focus {
        color: var(--text-colot-menu-hover);
        background-color: var(--bg-menu-focus);
        width: 230px;
    }

.iconos {
    font-size: 16px;
    color: var(--bg-color-icon);
}

    .iconos:focus {
        color: var(--text-colot-menu-hover);
    }

.item_size {
    display: none;
    transition: all ease-in-out 0.3s;
}

.collapse {
    transition: all ease-in-out 0.3s;
}

@media (min-width: 768px) {
    .menu_width {
        width: 250px;
        transition: all ease-in-out 0.3s;
    }

    .iconos {
        font-size: 12px;
    }

    .item_size {
        display: inline-block;
        transition: all ease-in-out 0.3s;
    }
}

table tbody,
table thead{
    color: var(--text-color-primary);
}

/* FORM */
form input[type="text"] {
    border-color: var(--text-color-menu);
    background-color: var(--bg-color-primary);
    color: var(--text-color-menu);
}

    form input[type="text"]:focus
    {
        background-color: var(--bg-input);
        color: var(--text-colot-menu-hover);
        border-block-color: var(--color-border-focus);
    }

.select-style,
.textarea-style {
    background-color: var(--bg-color-primary);
    color: var(--text-color-menu);
}
    .select-style:focus,
    .textarea-style:focus {
        background-color: var(--bg-input);
        color: var(--text-colot-menu-hover);
    }

    form label{
        font-size: 20px;
        font-weight: 500;
    }


/* MODALES */
.closeModal {
    display: none;
}

.modalBorrar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    max-width: 90%;
}

.modal-content {
    color: #000;
}

.btn {
    cursor: pointer;
}

.bgModal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(200, 200, 200, 0.5);
    top: 0;
    left: 0;
}