:root {
    --bg-red: rgb(252, 129, 129);
    --bg-red-hover: rgb(254, 178, 178);
    --bg-green: rgb(34, 196, 95);
    --bg-color-primary: #1a202c;
    --bg-color-menu-primary: #181c27;
    --text-color-primary: white;
    --text-color-menu: rgb(160, 174, 192);
    --text-colot-menu-hover: rgb(255, 255, 255);
    --bg-color-icon: rgb(79, 209, 197);
    --color-border-icons: rgb(63, 68, 78);
    --color-border-focus: rgb(99, 179, 237);
    --bg-input: rgb(45, 55, 72);
    --bg-menu-focus: rgb(32, 64, 68);
    --btn-color-border-focus: rgb(50, 105, 153);
    --text-color-error: rgb(252, 129, 129);
    --text-color-disabled: rgb(63, 68, 78);
    --text-color-title: rgb(166, 131, 27);
    --bg-btn-action: #81E6D9;
    --bg-btn-action-hover: rgb(79, 209, 197);
    --bg-btn-delete: rgb(254, 178, 178);
    --bg-btn-delete-hover: rgb(252, 129, 129);
    --bg-btn-edit: rgb(144, 205, 244);
    --bg-btn-edit-hover: rgb(99, 179, 237);
    --bg-btn-add: rgb(183, 194, 218);
    --bg-btn-add-hover: rgb(100, 130, 192);
    --bg-btn-borrador: rgb(63, 68, 78);
    --bg-btn-borrador-hover: rgb(83, 88, 98);
    --bg-modal-close: rgb(57, 67, 83);
    --bg-modal: rgb(45, 55, 72);
    --bg-tag: rgb(49, 151, 149);
    --text-color-action: #81E6D9;
    color-scheme: dark;
}

/* GLOBALES */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);
    font-family: "Inter", sans-serif;
    font-weight: 500
}

h1 {
    color: var(--text-color-title);
}

/* GENERICOS */

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.text-primary {
    color: var(--text-color-primary) !important;
}

.block {
    display: block;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.transitionSmooth {
    transition: all ease-in-out 0.3s;
}

.cursor_pointer {
    cursor: pointer;
}

/* MENU */
.nav-link-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-color {
    background-color: var(--bg-color-menu-primary);
    color: var(--text-color-menu) !important;
}

.sub-menu-grid {
    display: grid;
    grid-template-rows: 20px 1fr 40px;
    height: 100vh;
}

.menu-control {
    margin-top: 2rem;
    justify-content: start;
    align-items: start;
}

.user-control {
    justify-content: center;
    align-items: center;
}

.iconos_collapse,
.iconos {
    min-width: 25px;
    font-size: 12px;
    color: var(--bg-color-icon);
    border: 1px solid var(--color-border-icons);
    padding: 4px;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
}

.iconos_home {
    font-size: 16px;
    color: var(--text-color-menu);
}


.iconos_collapse:focus,
.iconos:focus {
    color: var(--text-colot-menu-hover);
    transition: all ease-in-out 0.3s;
}

.item_nav {
    display: none;
    transition: all ease-in-out 0.3s;
}

.collapse {
    transition: all ease-in-out 0.3s;
}

.collapse-absolute {
    position: absolute;
    z-index: 2;
    left: 65px;
    top: 0px;
    width: 106px;
}


.collapse-relative {
    position: relative;
    z-index: 2;
}

.collapse-fixed {
    position: fixed;
    z-index: 2;
}


.item_size_collapse,
.item_size {
    visibility: hidden;
    transition: all ease-in-out 0.3s;
}

.nav-title-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
    text-decoration: none;
}

.nav-title-collapse {
    color: var(--text-color-menu) !important;
    font-weight: 500;
    font-size: 16px;
    transition: all ease-in-out 0.3s;
}

.item_subNav_bg {
    background-color: var(--bg-menu-focus)
}

.content-collapse {
    display: grid;
    grid-template-columns: 70px 1fr;
    transition: all ease-in-out 0.3s;
}

.content {
    display: grid;
    grid-template-columns: 250px 1fr;
    transition: all ease-in-out 0.3s;
}

.nav-title-page-dimension {
    display: flex;
    justify-content: center !important;
    margin-top: 1rem;
}


.iconos {
    min-width: 25px;
    text-align: center;
    font-size: 12px;
    border: 1px solid var(--color-border-icons);
    padding: 4px;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
}

.subiconos {
    font-size: 10px;
}

.nav-title {
    color: var(--text-color-menu) !important;
    font-weight: 500;
    font-size: 16px;
    transition: all ease-in-out 0.3s;
}

    .nav-title:hover {
        color: var(--text-colot-menu-hover);
        transition: all ease-in-out 0.3s;
    }

.menu-color-font {
    color: var(--text-color-menu);
}

.item_size {
    visibility: visible;
    transition: all ease-in-out 0.3s;
}

.item_subNav {
    min-height: 38px;
    font-size: 14px;
    text-decoration: none;
    background-color: none;
    color: var(--text-color-menu) !important;
    font-weight: 500;
}

    .item_subNav:hover {
        color: var(--text-colot-menu-hover) !important;
    }

.menu-hamb {
    display: block;
    color: var(--text-color-menu) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .menu-hamb:hover {
        cursor: pointer;
    }

.nav-link:hover {
    background-color: var(--bg-menu-focus)
}

table tbody,
table thead {
    color: var(--text-color-primary);
}

/* FORM */
form input[type="email"],
form input[type="password"],
form input[type="text"],
form input[type="file"] {
    border-color: var(--text-color-menu);
    background-color: var(--bg-color-primary);
    color: var(--text-color-menu);
}



input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="file"]:focus {
    background-color: var(--bg-input);
    color: var(--text-colot-menu-hover);
    border-block-color: var(--color-border-focus);
}

input[type="text"]:read-only {
    background-color: var(--bg-input);
}

form input[type="file"]::file-selector-button {
    border-color: var(--text-color-menu);
    background-color: var(--bg-btn-borrador);
    color: var(--text-color-primary);
}

    form input[type="file"]::file-selector-button:hover {
        background-color: var(--bg-btn-action-hover) !important;
        color: var(--text-color-primary) !important;
    }

.input-style,
.select-style,
.textarea-style {
    background-color: var(--bg-color-primary);
    color: var(--text-color-menu);
}

    .input-style:focus,
    .select-style:focus,
    .textarea-style:focus {
        background-color: var(--bg-input);
        color: var(--text-colot-menu-hover);
    }

.input-style-disabled {
    color: var(--text-color-disabled);
    background-color: var(--bg-color-primary) !important;
}

form label {
    font-size: 20px;
    font-weight: 500;
}

.form-error {
    display: none;
    color: var(--text-color-error);
    font-style: italic;
    margin-top: 10px;
}

    .form-error::before {
        content: "*";
        color: var(--text-color-error);
        margin-top: 10px;
        margin-right: 5px;
    }

.field-validation-error {
    display: block;
}


/* MODALES */
.closeModal {
    display: none;
}

.modal-danger {
    border: 4px solid var(--bg-red);
    color: var(--bg-red);
    width: 80px
}

.modal-success {
    text-align: center;
    font-size: 5rem;
    color: var(--bg-green);
    width: 80px
}

#modalError,
#modalSuccess {
    display: none;
}

.modalAlert {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-modal);
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    max-width: 90%;
}

.modal-content {
    color: #fff;
}

.btn {
    cursor: pointer;
}

.bgModal {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.btn-close-modal {
    font-size: 20px;
    color: var(--bg-red) !important;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

    .btn-close-modal:hover {
        color: var(--bg-red-hover) !important;
    }


/* TABLE */
.table-text-color {
    color: var(--text-color-menu);
}

.table {
    margin-top: 1rem;
    width: 100%;
    font-size: 14px;
}

.border-table {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 2px solid var(--text-color-disabled);
    border-radius: 15px;
}

.table-border-row-color {
    border-bottom: 1px solid var(--text-color-disabled) !important;
}

/* HOME */
.border-section {
    color: var(--text-color-primary);
    background: var(--color-border-icons);
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 2px solid var(--color-border-icons);
    border-radius: 5px;
}

.link_home {
    text-decoration: none;
    color: var(--text-color-menu)
}

    .link_home:hover {
        border-bottom: 2px groove;
        color: var(--text-colot-menu-hover)
    }

.date_home {
    color: var(--text-color-menu);
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
}

.date_post {
    color: var(--text-color-menu);
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
}

/* BUTTOM */
.btn-font {
    font-weight: 600;
}

.btn-action {
    font-weight: 600;
    background-color: var(--bg-btn-action);
}

    .btn-action:hover {
        background-color: var(--bg-btn-action-hover);
    }

    .btn-action:focus {
        border: 3px solid var(--btn-color-border-focus);
    }

.btn-edit {
    font-weight: 600;
    background-color: var(--bg-btn-edit)
}

    .btn-edit:hover {
        background-color: var(--bg-btn-edit-hover)
    }

    .btn-edit:focus {
        border: 3px solid var(--btn-color-border-focus);
    }

.btn-delete {
    font-weight: 600;
    background-color: var(--bg-btn-delete)
}

    .btn-delete:hover {
        background-color: var(--bg-btn-delete-hover)
    }

    .btn-delete:focus {
        border: 3px solid var(--btn-color-border-focus);
    }

.btn-add {
    font-weight: 600;
    background-color: var(--bg-btn-add)
}

    .btn-add:hover {
        background-color: var(--bg-btn-add-hover)
    }

    .btn-add:focus {
        border: 3px solid var(--btn-color-border-focus);
    }

/* PAGINATION */
.bg-pagination {
    background-color: var(--bg-input) !important;
    color: var(--text-color-primary);
    border-color: var(--color-border-icons);
}

    .bg-pagination:hover {
        background-color: var(--bg-color-primary) !important;
        color: var(--text-color-primary);
        border-color: var(--color-border-focus);
    }

    .bg-pagination:disabled,
    .bg-pagination[disabled] {
        color: var(--text-color-menu);
        opacity: 1;
        border-color: var(--color-border-icons);
    }

        .bg-pagination:disabled:hover,
        .bg-pagination[disabled]:hover {
            background-color: var(--bg-input) !important;
            border-color: none !important;
        }

.bg-pagination-active {
    background-color: var(--bg-btn-action);
    color: var(--text-color-disabled);
    border-color: var(--color-border-icons);
}


/* PUBLICADO - BORRADOR */
.text-publicado {
    color: var(--text-color-action);
    font-style: italic;
}

.text-borrador {
    color: var(--text-color-error);
    font-style: italic;
}

.btn-borrador {
    color: var(--text-color-primary);
    font-weight: 600;
    background-color: var(--bg-btn-borrador)
}

    .btn-borrador:hover {
        color: var(--text-color-primary);
        background-color: var(--bg-btn-borrador-hover)
    }


/* TAGS */
.close-btn {
    color: var(--text-color-primary);
    font-size: 10px;
    padding-bottom: 2px;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bg-modal-close);
    width: 15px;
    height: 15px;
}

.tag {
    position: relative;
    color: var(--text-color-primary);
    font-weight: 600;
    background-color: var(--bg-tag);
}

/* WIDTH */
.min-w-100 {
    min-width: 100% !important;
}

/* LOGIN */
.login-form-content {
    width: 100% !important;
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    border: solid 1px var(--color-border-icons);
    border-radius: 10px;
    padding: 30px;
}

.login-width {
    width: 500px;
}

/* PERFIL */
.profile-picture-perfil {
    width: 70px;
    height: 70px;
    object-fit: scale-down;
    object-position: center;
    overflow: hidden;
}

.profile-name-nav-collapse,
.profile-name-nav {
    display: none;
}

@media (min-width: 768px) {
    .profile-name-nav {
        display: block;
    }
}


/* BIO */
.hide {
    display: none !important;
}

.show {
    display: block;
}

/* INPUT GROUP */
.input-background {
    background-color: var(--bg-color-icon);
}

/* OPTIONS */
.optText {
    text-align-last: center;
    padding-right: 29px;
    direction: rtl;
}

.optSelect {
    background-color: var(--bg-modal);
    color: var(--text-color-primary);
}

/* TOAST */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 20px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    border-radius: 10px;
}

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.8s 2.5s;
        animation: fadein 0.5s, fadeout 0.8s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* VALIDATE ERROR */

.validate-error {
    text-align: left;
    color: var(--text-color-error);
    margin-top: 5px;
    font-weight: 200;
    font-style: italic;
}


/* LABEL FORM*/

.label {
    display: flex;
    justify-content: start;
    align-items: start;
}

.required-label::after {
    color: var(--text-color-error);
    font-size: 10px;
    margin-left: 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\2a";
}

/* SOURCE */
.source-picture-perfil {
    width: 30px;
    height: 30px;
    object-fit: scale-down;
    object-position: center;
    overflow: hidden;
    filter: invert(100%);
}

.source-picture-edit {
    width: 60px;
    height: 60px;
    object-fit: scale-down;
    object-position: center;
    overflow: hidden;
    filter: invert(100%);
}
