:root {
    --bg-red: rgb(252, 129, 129);
    --bg-red-hover: rgb(254, 178, 178);
    --bg-green: rgb(34, 196, 95);
    --bg-color-primary: #1a202c;
    --bg-color-menu-primary: #181c27;
    --text-color-primary: white;
    --text-color-menu: rgb(160, 174, 192);
    --text-colot-menu-hover: rgb(255, 255, 255);
    --bg-color-icon: rgb(79, 209, 197);
    --color-border-icons: rgb(63, 68, 78);
    --color-border-focus: rgb(99, 179, 237);
    --bg-input: rgb(45, 55, 72);
    --bg-menu-focus: rgb(32, 64, 68);
    --btn-color-border-focus: rgb(50, 105, 153);
    --text-color-error: rgb(252, 129, 129);
    --text-color-disabled: rgb(63, 68, 78);
    --bg-btn-action: #81E6D9;
    --bg-btn-action-hover: rgb(79, 209, 197);
    --bg-btn-delete: rgb(254, 178, 178);
    --bg-btn-delete-hover: rgb(252, 129, 129);
    --bg-btn-edit: rgb(144, 205, 244);
    --bg-btn-edit-hover: rgb(99, 179, 237);
    --bg-btn-add: rgb(183, 194, 218);
    --bg-btn-add-hover: rgb(100, 130, 192);
    --bg-btn-borrador: rgb(63, 68, 78);
    --bg-btn-borrador-hover: rgb(83, 88, 98);
    --bg-modal-close: rgb(57, 67, 83);
    --bg-modal: rgb(45, 55, 72);
    --bg-tag: rgb(49, 151, 149);
    --text-color-action: #81E6D9;
    color-scheme: dark;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);
    font-family: "Inter", sans-serif;
}


/* MENU */
.menu_width {
    width: 70px;
    transition: all ease-in-out 0.3s;
    color: var(--text-color-menu);
}

.menu-color {
    background-color: var(--bg-color-menu-primary);
    color: var(--text-color-menu) !important;
}

.iconos {
    font-size: 16px;
    color: var(--bg-color-icon);
    border: 1px solid var(--color-border-icons);
    padding: 4px;
    border-radius: 5px;
}

.iconos_home {
    font-size: 16px;
    color: var(--text-color-menu);
}


    .iconos:focus {
        color: var(--text-colot-menu-hover);
    }

.item_nav {
    display: none;
    transition: all ease-in-out 0.3s;
}

.collapse {
    transition: all ease-in-out 0.3s;
}

.item_size {
    display: none;
}

.menu-hamb {
    color: var(--text-color-menu) !important;
}

@media (min-width: 768px) {
    .menu-hamb {
        color: var(--text-color-menu) !important;
    }

    .menu_width {
        width: 250px;
        transition: all ease-in-out 0.3s;
    }

    .iconos {
        font-size: 12px;
        border: 1px solid var(--color-border-icons);
        padding: 4px;
        border-radius: 5px;
    }

    .subiconos {
        font-size: 10px;
    }

    .nav-title:hover {
        color: var(--text-colot-menu-hover);
        background-color: var(--bg-menu-focus);
    }

    .nav-title {
        color: var(--text-color-menu) !important;
        font-weight: 500;
        width: 230px;
        font-size: 16px;
    }

    .menu-color-font {
        color: var(--text-color-menu);
    }

    .item_size {
        display: inline-block;
    }

    .item_subNav {
        font-size: 14px;
        text-decoration: none;
        background-color: none;
        color: var(--text-color-menu) !important;
        font-weight: 500;
    }

        .item_subNav:hover {
            color: var(--text-colot-menu-hover) !important;
        }
}

table tbody,
table thead{
    color: var(--text-color-primary);
}

/* FORM */
form input[type="text"] {
    border-color: var(--text-color-menu);
    background-color: var(--bg-color-primary);
    color: var(--text-color-menu);
}

    form input[type="text"]:focus
    {
        background-color: var(--bg-input);
        color: var(--text-colot-menu-hover);
        border-block-color: var(--color-border-focus);
    }

.input-style,
.select-style,
.textarea-style {
    background-color: var(--bg-color-primary);
    color: var(--text-color-menu);
}
    .input-style:focus,
    .select-style:focus,
    .textarea-style:focus {
        background-color: var(--bg-input);
        color: var(--text-colot-menu-hover);
    }

.input-style-disabled {
    color: var(--text-color-disabled);
    background-color: var(--bg-color-primary) !important;
}

form label {
    font-size: 20px;
    font-weight: 500;
}

.form-error {
    display: none;
    color: var(--text-color-error);
    font-style: italic;
    margin-top: 10px;
}
    .form-error::before {
        content: "*";
        color: var(--text-color-error);
        margin-top: 10px;
        margin-right: 5px;
    }

.field-validation-error {
    display: block;
}


/* MODALES */
.closeModal {
    display: none;
}

.modal-danger {
    border: 4px solid var(--bg-red);
    color: var(--bg-red);
    width: 80px
}

.modal-success {
    text-align: center;
    font-size: 5rem;
    color: var(--bg-green);
    width: 80px
}

#modalError,
#modalSuccess{
    display: none;
}

.modalAlert{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-modal);
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    max-width: 90%;
}

.modal-content {
    color: #fff;
}

.btn {
    cursor: pointer;
}

.bgModal {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.btn-close-modal {
    font-size: 20px;
    color: var(--bg-red) !important;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

    .btn-close-modal:hover {
        color: var(--bg-red-hover) !important;
    }


/* TABLE */
.table-text-color {
    color: var(--text-color-menu);
}

.table {
    margin-top: 1rem;
    width: 100%;
    font-size: 14px;
}

.border-table {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 2px solid var(--text-color-disabled);
    border-radius: 15px;
}

.table-border-row-color {
    border-bottom: 1px solid var(--text-color-disabled) !important;
}

/* HOME */
.border-section {
    color: var(--text-color-primary);
    background: var(--color-border-icons);
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 2px solid var(--color-border-icons);
    border-radius: 5px;
}

.link_home
{
    text-decoration: none;
    color: var(--text-color-menu)
}

    .link_home:hover {
        border-bottom: 2px groove;
        color: var(--text-colot-menu-hover)
    }

.date_home {
    color: var(--text-color-menu);
    font-size: 14px;
    font-style: italic;
    font-weight:200;
}

.date_post {
    color: var(--text-color-menu);
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
}

/* BUTTOM */
.btn-font {
    font-weight: 600;
}

.btn-action {
    font-weight: 600;
    background-color: var(--bg-btn-action);
}
    .btn-action:hover {
        background-color: var(--bg-btn-action-hover);
    }
    .btn-action:focus {
        border: 3px solid var(--btn-color-border-focus);
    }

.btn-edit {
    font-weight: 600;
    background-color: var(--bg-btn-edit)
}

    .btn-edit:hover {
        background-color: var(--bg-btn-edit-hover)
    }

    .btn-edit:focus {
        border: 3px solid var(--btn-color-border-focus);
    }

.btn-delete {
    font-weight: 600;
    background-color: var(--bg-btn-delete)
}
    .btn-delete:hover {
        background-color: var(--bg-btn-delete-hover)
    }
    .btn-delete:focus {
        border: 3px solid var(--btn-color-border-focus);
    }

.btn-add {
    font-weight: 600;
    background-color: var(--bg-btn-add)
}

    .btn-add:hover {
        background-color: var(--bg-btn-add-hover)
    }

    .btn-add:focus {
        border: 3px solid var(--btn-color-border-focus);
    }

/* PAGINATION */
.bg-pagination {
    background-color: var(--bg-input) !important;
    color: var(--text-color-primary);
    border-color: var(--color-border-icons);
}

    .bg-pagination:hover {
        background-color: var(--bg-color-primary) !important;
        color: var(--text-color-primary);
        border-color: var(--color-border-focus);
    }

    .bg-pagination:disabled,
    .bg-pagination[disabled] {
        color: var(--text-color-menu);
        opacity: 1;
        border-color: var(--color-border-icons);
    }

        .bg-pagination:disabled:hover,
        .bg-pagination[disabled]:hover {
            background-color: var(--bg-input) !important;
            border-color: none !important;
        }
.bg-pagination-active {
    background-color: var(--bg-btn-action);
    color: var(--text-color-disabled);
    border-color: var(--color-border-icons);
}


/* PUBLICADO - BORRADOR */
.text-publicado{
    color: var(--text-color-action);
    font-style: italic;
}

.text-borrador {
    color: var(--text-color-error);
    font-style: italic;
}

.btn-borrador {
    color: var(--text-color-primary);
    font-weight: 600;
    background-color: var(--bg-btn-borrador)
}
    .btn-borrador:hover {
        color: var(--text-color-primary);
        background-color: var(--bg-btn-borrador-hover)
    }


/* TAGS */
.close-btn{
    color: var(--text-color-primary);
    font-size: 10px;
    padding-bottom: 2px;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bg-modal-close);
    width: 15px;
    height: 15px;
}

.tag {
    position: relative;
    color: var(--text-color-primary);
    font-weight: 600;
    background-color: var(--bg-tag);
}

/* WIDTH */
.min-w-100{
    min-width: 100%!important;
}

/* LOGIN */
.login-form-content {
    width: 100% !important;
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    border: solid 1px var(--color-border-icons);
    border-radius: 10px;
    padding: 30px;
}

.login-width
{
    width: 500px;
}

/* PERFIL */
.profile-picture-perfil
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

/* BIO */
.hide{
    display: none !important;
}

.show
{
    display: block;
}

/* INPUT GROUP */
.input-background
{
    background-color: var(--bg-color-icon);
}